pkgbase = cutefish-qt-plugins
	pkgdesc = Unify Qt application style of CutefishOS
	pkgver = 0.3
	pkgrel = 1
	url = https://github.com/cutefishos/qt-plugins
	arch = x86_64
	groups = cutefish
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = ninja-build
	makedepends = libqt5x11extras5-dev
	makedepends = libqt5xdg-dev
	makedepends = libdbusmenu-qt5-dev
	makedepends = libxcb1-dev
	makedepends = libxcb-ewmh-dev
	makedepends = qtbase5-dev
	makedepends = qtbase5-private-dev
	makedepends = qtdeclarative5-dev
	makedepends = qtquickcontrols2-5-dev
	makedepends = qttools5-dev
	makedepends = qttools5-dev-tools
	depends = libc6
	depends = libdbusmenu-qt5-2
	depends = libgcc-s1
	depends = libkf5windowsystem5
	depends = libqt5core5a
	depends = libqt5dbus5
	depends = libqt5gui5
	depends = libqt5quickcontrols2-5
	depends = libqt5widgets5
	depends = libqt5x11extras5
	depends = libqt5xdgiconloader3
	depends = libstdc++6
	depends = qtbase-abi-5-15-2
	source = cutefish-qt-plugins::git+https://github.com/cutefishos/qt-plugins.git
	md5sums = SKIP

pkgname = cutefish-qt-plugins
