[Desktop Entry]
Encoding=UTF-8
Name=SeaMonkey Internet Suite
Comment=Browse the Web, send and receive mail
GenericName=Internet Suite
Keywords=Internet;WWW;Browser;Web;Explorer;Email;E-mail;Newsgroup;Feed;RSS
Keywords[ar]=انترنت;إنترنت;متصفح;ويب;وب
Keywords[ast]=Internet;WWW;Restolador;Web;Esplorador;Corréu;Corréu-e;Noticies;Discusiones;Mensaxes;Canales;RSS
Keywords[ca]=Internet;WWW;Navegador;Web;Explorador;Explorer;Correu;Email;E-mail;Mailing;Llistes;Notícies;RSS
Keywords[cs]=Internet;WWW;Prohlížeč;Web;Explorer;Email;E-mail;Pošta;Elektronická pošta;Diskusní skupiny;Čtečka;RSS
Keywords[da]=Internet;Internettet;WWW;Browser;Browse;Web;Surf;Nettet;Email;E-mail;Epost;E-post;E-brev;Newsgroup;Nyhedsgruppe;Nyhedskilde;Usenet;Feed;RSS
Keywords[de]=Internet;WWW;Browser;Web;Explorer;Webseite;Site;surfen;online;browsen;Mail;E-Mail;Newsgroup;Nachrichten;Feed;RSS;Post;News;Usenet;online;lesen;schreiben
Keywords[el]=Internet;WWW;Browser;Web;Explorer;Διαδίκτυο;Περιηγητής;Firefox;Φιρεφοχ;Ιντερνετ;Email;E-mail;Newsgroup;Feed;RSS;ημαιλ;Αλληλογραφία;Ροή;ΡΣΣ;Συζητήσεις;Γράμματα
Keywords[es]=Explorador;Internet;WWWEmail;Correo electrónico;Noticias;Discusiones;Mensajes;Canales;RSS;Email;Correo electrónico;Noticias;Discusiones;Mensajes;Canales;RSS
Keywords[fi]=Internet;WWW;Browser;Web;Explorer;selain;Internet-selain;internetselain;verkkoselain;netti;surffaa;Mail;E-Mail;Email;Newsgroup;Feed;RSS;posti;sähköposti;maili;meili;Usenet;uutisryhmät;syöte
Keywords[fr]=Internet;WWW;Browser;Web;Explorer;Fureteur;Surfer;Navigateur;Mails;Mels;E-Mails;Emails;Courriels;Courriers;Newsgroup;Feed;RSS;Poster;Thunderbird;Lire;Écrire
Keywords[he]=דפדפן;אינטרנט;רשת;אתרים;אתר;פיירפוקס;מוזילה;דוא''ל;דוא״ל;מייל;אי-מייל;אימייל;הודעות;מוזילה;תאנדרבירד;ת׳אנדרבירד;ת'אנדרבירד;ת׳אנדרברד;ת'אנדרברד;דואל;
Keywords[hr]=Internet;WWW;preglednik;Web;email;e-mail;e-pošta;pošta;RSS
Keywords[hu]=Internet;WWW;Böngésző;Web;Háló;Net;Explorer;Email;E-mail;Levél;Levelezés;Hírcsoport;Feed;Hírforrás;RSS
Keywords[it]=Internet;WWW;Browser;Web;Navigatore;Email;Mail;Posta;Newsgroup;Feed;RSS
Keywords[is]=Internet;WWW;Vafri;Vefur;Netvafri;Flakk;tölvupóstur;rafpóstur;fréttir;fréttahópar;samtöl;skilaboð;fréttastraumar;RSS
Keywords[ja]=Internet;WWW;Web;インターネット;ブラウザ;ウェブ;エクスプローラ;Eメール;イーメール;mail;e-mail;email;メール;電子メール;ニュースグループ;ネットニュース;RSS;フィードリーダー;書く;読む;Mozilla
Keywords[nb]=Internett;WWW;Nettleser;Explorer;Web;Browser;Nettside
Keywords[nl]=Internet;WWW;Browser;Web;Explorer;Verkenner;Website;Surfen;Online;Email;E-mail;Newsgroup;Feed;RSS;Nieuwsgroep;Post
Keywords[pt]=Internet;WWW;Browser;Web;Explorador;Navegador
Keywords[pt_BR]=Internet;WWW;Browser;Web;Explorador;Navegador
Keywords[ru]=Internet;WWW;Browser;Web;Explorer;интернет;браузер;веб;файрфокс;огнелис;Email;E-mail;Newsgroup;Feed;RSS;почта;письма;новости;фиды
Keywords[sk]=Internet;WWW;Prehliadač;Web;Explorer;Email;E-mail;Elektronická pošta;Diskusné skupiny;Čítačka kanálov;RSS
Keywords[sl]=Internet;WWW;Browser;Web;Explorer;Brskalnik;Splet
Keywords[tr]=İnternet;WWW;Tarayıcı;Web;Gezgin;Web sitesi;Site;sörf;çevrimiçi;tara
Keywords[uk]=Internet;WWW;Browser;Web;Explorer;Інтернет;мережа;переглядач;оглядач;браузер;веб;файрфокс;вогнелис;перегляд;=Email;E-mail;Newsgroup;Feed;RSS;пошта;новини;подачі;стрічка
Keywords[vi]=Internet;WWW;Browser;Web;Explorer;Trình duyệt;Trang web;Mail;E-Mail;Email;Newsgroup;Feed;RSS;Thư điện tử;Gửi thư
Keywords[zh_CN]=Internet;WWW;Browser;Web;Explorer;网页;浏览;上网;火狐;Firefox;ff;互联网;网站;Mail;E-Mail;Email;Newsgroup;Feed;RSS;电子;邮件;新闻;Thunderbird;tb;雷鸟;电邮;邮箱;阅读器;
Keywords[zh_TW]=Internet;WWW;Browser;Web;Explorer;網際網路;網路;瀏覽器;上網;網頁;火狐
Exec=seamonkey %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=seamonkey
Categories=Application;Network;Email;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;application/vnd.mozilla.xul+xml;x-scheme-handler/mailto;
StartupWMClass=Seamonkey
StartupNotify=true
[Compose Shortcut Group]
Name=Compose New Message
Name[af]=Skryf 'n nuwe boodskap
Name[ar]=حرر رسالة جديدة
Name[ast]=Redactar un mensaxe nuevu
Name[be]=Напісаць ліст
Name[bg]=Ново писмо
Name[bn]=নতুন বার্তা লিখুন
Name[br]=Sevel ur gemennadenn nevez
Name[bs]=Napiši novu poruku
Name[ca]=Redacta un missatge nou
Name[cs]=Napsat novou zprávu
Name[cy]=Cyfansoddi Neges Newydd
Name[da]=Skriv en ny besked
Name[de]=Neue Nachricht erstellen
Name[el]=Σύνταξη νέου μηνύματος
Name[eo]=Redakti novan mesaĝon
Name[es]=Redactar un mensaje nuevo
Name[et]=Koosta uus sõnum
Name[eu]=Mezu Berria Idatzi
Name[fi]=Luo uusi viesti
Name[fr]=Rédiger un nouveau courriel
Name[gd]=Co-chuir Teachdaireachd Ùr
Name[gl]=Redactar unha nova mensaxe
Name[he]=חיבור הודעה חדשה
Name[hi]=नया संदेश लिखें
Name[hr]=Nova poruka
Name[hu]=Új üzenet írása
Name[hy]=Նամակ գրել
Name[id]=Buat Pesan Baru
Name[is]=Skrifa nýtt bréf
Name[it]=Componi nuovo messaggio
Name[ja]=新しいメッセージの作成
Name[kk]=Жаңа хат жазу
Name[kn]=ಹೊಸ ಸಂದೇಶವನ್ನು ಸಂಯೋಜಿಸು
Name[ko]=새 메시지 쓰기
Name[ku]=Peyameke nû biafirînê
Name[lt]=Rašyti naują laišką
Name[lv]=Sacerēt jaunu vēstuli
Name[mk]=Состави нова порака
Name[ml]=പുതിയ സന്ദേശം രചിക്കുക
Name[mr]=नवीन संदेश लिहा.
Name[nb]=Skriv en ny melding
Name[nl]=Nieuw bericht opstellen
Name[nn]=Skriv ei ny melding
Name[pl]=Utwórz nową wiadomość
Name[pt]=Criar nova mensagem
Name[pt_BR]=Compor nova mensagem
Name[ro]=Compune un mesaj nou
Name[ru]=Написать письмо
Name[si]=නව පණිවිඩයක් අරඹන්න
Name[sk]=Napísať novú správu
Name[sl]=Sestavi novo sporočilo
Name[sq]=Krijo Mesazh të Ri
Name[sr]=Састави нову поруку
Name[sv]=Skriv nytt meddelande
Name[ta]=புதிய செய்தியை உருவாக்கு
Name[te]=కొత్త సందేశాన్ని రచించు
Name[th]=สร้างข้อความใหม่
Name[tr]=Yeni İleti Oluştur
Name[uk]=Написати нове повідомлення
Name[zh_CN]=撰写新消息
Name[zh_TW]=撰寫新郵件
Exec=seamonkey -compose
[Contacts Shortcut Group]
Name=Contacts
Name[af]=Kontakte
Name[ar]=المتراسلين
Name[ast]=Contautos
Name[be]=Кантакты
Name[bg]=Контакти
Name[bn]=পরিচিতি সমূহ
Name[br]=Darempredoù
Name[bs]=Kontakti
Name[ca]=Contactes
Name[cs]=Kontakty
Name[cy]=Cysylltiadau
Name[da]=Kontakter
Name[de]=Kontakte
Name[el]=Επαφές
Name[eo]=Kontaktoj
Name[es]=Contactos
Name[et]=Kontaktid
Name[eu]=Kontaktuak
Name[fi]=Yhteystiedot
Name[fr]=Carnet d'adresses
Name[gd]=Buntanasan
Name[gl]=Contactos
Name[he]=אנשי קשר
Name[hi]=संपर्क
Name[hr]=Kontakti
Name[hu]=Névjegyek
Name[hy]=Կապորդներ
Name[id]=Kontak
Name[is]=Tengiliðir
Name[it]=Contatti
Name[ja]=連絡先
Name[kk]=Байланыс жазулары
Name[kn]=ಸಂಪರ್ಕಗಳು
Name[ko]=연락처
Name[ku]=Tekilî
Name[lt]=Kontaktai
Name[lv]=Kontakti
Name[mk]=Контакти
Name[ml]=വിലാസങ്ങള്
Name[mr]=संपर्क
Name[nb]=Kontakter
Name[nl]=Contacten
Name[nn]=Kontaktar
Name[pl]=Kontakty
Name[pt]=Contactos
Name[pt_BR]=Contatos
Name[ro]=Contacte
Name[ru]=Контакты
Name[si]=සබඳතා
Name[sk]=Kontakty
Name[sl]=Stiki
Name[sq]=Kontaktet
Name[sr]=Контакти
Name[sv]=Kontakter
Name[ta]=தொடர்புகள்
Name[te]=పరిచయాలు
Name[th]=รายชื่อติดต่อ
Name[tr]=Kişiler
Name[uk]=Контакти
Name[zh_CN]=联系人
Name[zh_TW]=連絡人
Exec=seamonkey -addressbook

